
<section>
     
    <div class="banner">
       
        <img src="/{{products.background}}" alt="" class="bg">

        <div class="content">
            <img src="/{{products.logo}}" alt="" class="movieTitle">
            <h4>
                <span>{{products.year}}</span>
                <span><i>{{products.age}}</i></span>
                <span>{{products.time}}</span>
                <span>{{products.type}}</span>
            </h4>
            <p>
                {{products.description}}
            </p>
            <div class="buttons">
                <a href="#"> <i class="fa fa-play" aria-hidden="true"></i> Play</a>
                <a href="#"> <i class="fa fa-plus" aria-hidden="true"></i> My List</a>
            </div>
        </div>
        <a href="" class="play" onclick="toggleVideo();">
            <img src="/images/play.png" alt="">
            Watch Trailer
        </a>
       
    </div>


    <div class="trailer">
        <iframe src="https://www.youtube.com/embed/bjqEWgDVPe0" frameborder="0" ></iframe>
        <img src="/images/close.png"  class="close" onclick="toggleVideo();">
    </div>
    
</section>


